[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-gpu = "*"
keras = "*"
pytest = "*"
requests = "*"
pandas = "*"
sklearn = "*"
matplotlib = "*"
cleverhans = {ref = "0df025c77dce0b32e4d5a0fca107e4acedb50563", git = "https://github.com/tensorflow/cleverhans.git"}
pytest-cov = "*"
coveralls = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.6"
